extends ./layout

block content
	.container
		.row-spaced
		.row
			.col-md-6.col-md-offset-3
				.card
					form(action="/login", method="POST")
						if failedLogIn
							.alert.alert-danger Your email or password was incorrect
						.form-group
							label(for='email') Email
							input.form-control(
								type='email',
								name='email',
								required,
								placeholder='email@example.com',
								autofocus
							)
						.form-group
							label(for='password') Password
							input.form-control(
								type='password',
								name='password',
								required,
								placeholder='********'
							)
						.actions
							button.btn-primary.btn(
								type='submit'
							) Log in

						