extends ./layout

block content
	.container
		.row-spaced
		.row
			.col-md-6.col-md-offset-3
				.card
					form(action="/login", method="POST")
						+csrfToken
						if failedLogin
							.alert.alert-danger Your email or password was incorrect
						if failedOneTimeLogin
							.alert.alert-danger
								| Your login link has expired. Please
								|
								a(href="/read-only/one-time-login/request") request another one
								| .
						.form-group
							label(for='email') Email
							input.form-control(
								type='email',
								name='email',
								required,
								placeholder='email@example.com',
								autofocus
							)
						.form-group
							label(for='password') Password
							input.form-control(
								type='password',
								name='password',
								required,
								placeholder='********'
							)
						.actions
							a.btn.btn-link.pull-right(href="/read-only/one-time-login/request")
								| Forgot your password or don't have one?
							button.btn-primary.btn(type='submit')
								| Log in
