extends ./layout

block content
	.container
		.row-spaced
		.row
			.col-md-6.col-md-offset-3
				.card
					p
						| Please enter your email below, and we'll send you a
						| link that will log you into Overleaf's read only
						| maintenance site, so you can download your projects.
					form(action="/read-only/one-time-login/request", method="POST")
						+csrfToken
						if error
							.alert.alert-danger #{error}
						.form-group
							label(for='email') Email
							input.form-control(
								type='email',
								name='email',
								value=email
								required,
								placeholder='email@example.com',
								autofocus
							)
						.actions
							button.btn-primary.btn(type='submit')
								| Send login link
